<mat-card style="border: 1px solid grey; height: 100%">
  <mat-card-content>
    <div>
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="personForm">
          <form [formGroup]="personForm">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Last name, First name"
                formControlName="personA"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Last name, First name"
                formControlName="personB"
                required
              />
            </mat-form-field>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="topicForm" label="Fill out your address">
          <form [formGroup]="topicForm">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="topic"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="argumentForm" label="Fill out your address">
          <form [formGroup]="argumentForm">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="argumentA"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="argumentB"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="contactsForm" label="Fill out your address">
          <form [formGroup]="contactsForm">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input
                matInput
                formControlName="contacts"
                placeholder="Ex. 1 Main St, New York, NY"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card-content>
</mat-card>
